<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature
        android:name="android.software.input_methods"
        android:required="true" />

    <application
        android:allowBackup="false"
        android:hasCode="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <provider
            android:name=".ScrcpyImeProvider"
            android:authorities="com.genymobile.scrcpy.ime.connection"
            android:exported="true" />
        <service
            android:name=".ScrcpyInputMethodService"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>
    </application>
</manifest>
