[Desktop Entry]
Name=scrcpy (console)
GenericName=Android Remote Control
Comment=Display and control your Android device
# For some users, the PATH or ADB environment variables are set from the shell
# startup file, like .bashrc or .zshrc… Run an interactive shell to get
# environment correctly initialized.
Exec=/bin/bash -ic "scrcpy --pause-on-exit=if-error"
Icon=scrcpy
Terminal=true
Type=Application
Categories=Utility;RemoteAccess;
Keywords=adb;android;screen;mirroring;display;control;phone;device;console;
StartupNotify=false
